<div class="container-fluid" style="height : 100vh">
    <div class="row justify-content-center align-items-center" style="height : 100vh">
        <div class="col-4 text-dark">
            <form method="POST" action="/admin/products/create" enctype="multipart/form-data">
                <div class="form-floating m-3">
                    <input type="text" class="form-control" name="city" placeholder="City" >
                    <label for="city">City</label>
                </div>
                <div class="form-floating m-3">
                    <input type="text" class="form-control" name="description" placeholder="Description">
                    <label for="description">Description</label>
                </div>
                <div class="form-floating m-3">
                    <input type="number" class="form-control" name="price" placeholder="Price">
                    <label for="price">Price</label>
                </div>
                <div class="form-floating m-3">         
                    <select class="form-select form-select-sm" aria-label=".form-select-sm" name="id_category">
                    
                    <option value="3">USA</option>
                    <option value="2">Europa</option>
                    <option value="4">Sudamerica</option>
                    <option value="1">Caribe</option> 


                    </select>
          
                </div>
               
                <div class="form-floating m-3">
                   
                    <input type="file" name="img">
                    
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-info mt-3">Agregar producto</button>
                </div>
            </form>
        </div>

    </div>
</div>