<div class="container-fluid" style="height : 100vh">
    
        <div class="row align-items-center" style="height : 100vh">
            <div class="col-12 text-light mt-4">
                <div class="d-grid gap-2">
                  
                    <a href="/admin/products/create" class="btn btn-info">Crear nuevo producto</a>
                    <a href="/admin/products" class="btn btn-success">Editar producto</a>
                    <a href="/admin/employees" class="btn btn-warning">Administrar Empleados</a>
                    <a href="/admin/employees/create" class="btn btn-dark">Alta Empleados</a>
                   
                
                </div>
            </div>
        
    </div>
</div>