<div class="container-fluid" style="height : 100vh">
    
        <div class="row align-items-center" style="height : 100vh">
            <div class="col-12 text-light mt-4">
                <div class="d-grid gap-2">
                  
                    <a href="/admin/products/create" class="btn btn-info">Create travels</a>
                   
                
                </div>
            </div>
        
    </div>
</div>