<div class="container-fluid">
    <div class="container">

    <table class="table table-dark table-striped table-hover m-5">
        <tr>
            <th>id</th>
            <th>Destino</th>
            <th>id_categoria</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
        {{#each products}}
        <tr>
            <td>{{id}}</td>
            <td>{{city}}</td>
            <td>{{id_category}}</td>
            <td> <a href="" class="btn btn-success" ><i class='bx bxs-edit bx-sm' style='color:#ffffff;'  ></i></a> </td>
            <td> <a href="" class="btn btn-danger"><i class='bx bxs-x-circle bx-sm' style='color:#ffffff'  ></i></a> </td>
        </tr>    
        {{/each}}
    </table>



    </div>

</div>