<footer class="border-top">
    <div class="row d-flex justify-content-between">
     
      <div class="d-inline-flex col-4 col-md mt-5 p-3 ms-5 ">
        <ul class="list-unstyled p-3">
          <h5>Redes sociales</h5>
          <li class="m-3"></i><i class='bx-fw bx bxl-facebook-square bx-md' style='color: #000'></i><a class="link-dark text-dark text-decoration-none" href="#">@E-flight.com</a></li>
          <li class="m-3"><i class='bx-fw bx bxl-twitter bx-md' style='color: #000'  ></i><a class="link-dark text-dark text-decoration-none" href="#">#E-flight</a></li>
          <li class="m-3"><i class='bx-fw bx bxl-instagram bx-md' style='color:#000'></i><a class="link-dark text-dark text-decoration-none" href="#">@E-flight</a></li>
        </ul>
      </div>
        <div class="d-inline-flex col-4 col-md mt-5 p-3 ms-5 ">
        <ul class="list-unstyled p-3">
          <h5>Contacto</h5>
          <li class="m-3"><i class='bx-fw bx bx-mail-send bx-md' style='color: #000' ></i><a class="link-dark text-dark text-decoration-none" href="#">E-flight@hotmail.com</a></li>
          <li class="m-3"><i class='bx-fw bx bxl-whatsapp-square bx-md' style='color: #000' ></i><a class="link-dark text-dark text-decoration-none" href="#">1122334455</a></li>
         
        </ul>
      </div>
  </div>
    
</footer>