<div class="container-fluid">
    <h1 class="text-center border-bottom p-5">Página no disponible!</h1>
    <div class="row d-flex justify-content-center">

    <img class="img-fluid" src="/images/404.svg" alt="img-404">

    </div>
</div>