<div class="container">

  
    <div class="row flex-lg-row-reverse align-items-center py-5 m-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img class="img-fluid" src="/images/avion.png" class="d-block mx-lg-auto img-fluid" alt="img-flight" loading="lazy" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 animate__animated animate__lightSpeedInLeft">{{title}}!</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, perspiciatis quia. Vero, adipisci velit, neque ad quis deleniti consequuntur voluptatum eius culpa, ea architecto pariatur ratione laudantium iste mollitia porro dignissimos incidunt amet reprehenderit voluptatem temporibus. Ipsum velit eum enim? </p>
       
      </div>
    </div>
  

</div>

