<div class="container">
<!--  MAIN CONTENT -->  
<header>

    <div class="row flex-lg-row-reverse align-items-center py-5 m-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img class="img-fluid" src="/images/avion.png" class="d-block mx-lg-auto img-fluid" alt="img-flight" loading="lazy" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3 animate__animated animate__lightSpeedInLeft">{{title}}!</h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas, perspiciatis quia. Vero, adipisci velit, neque ad quis deleniti consequuntur voluptatum eius culpa, ea architecto pariatur ratione laudantium iste mollitia porro dignissimos incidunt amet reprehenderit voluptatem temporibus. Ipsum velit eum enim? </p>
        <a href="#end" class="text-dark">Más Info <i class='bx bxs-down-arrow-square bx-fade-down' style='color:#0169a6' ></i></a>
       
      </div>
    </div>
    <div class="row flex-lg-row-reverse align-items-center py-5 m-5">
      <div class="col-lg-6">
        
        <p class="lead ms-5">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Exercitationem modi adipisci autem ex, veritatis voluptate voluptatum consectetur doloribus cupiditate ipsam facere, beatae, impedit natus atque laborum aperiam debitis repudiandae accusantium!
        </p>
       
      </div>
      <div class="col-10 col-sm-8 col-lg-6">
        <img class="img-fluid" src="/images/beach.png" class="d-block mx-lg-auto img-fluid" alt="img-flight" loading="lazy" width="700" height="500">
      </div>
    </div>

</header>
<!-- SECTION -->
<section>

      <div class="row border-top" id="end">

      <div class="col-lg-4 p-5">
        <img class="img-fluid" src="/images/Beach.svg" width="140" height="140"></img>
        <h4 class="text-center">Excursiones</h4>
        <p class="text-center text-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, animi.</p>
      </div>
       <div class="col-lg-4 p-5">
        <img class="img-fluid" src="/images/World_2.svg" width="140" height="140"></img>
        <h4 class="text-center">Vuelos</h4>
        <p class="text-center text-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, animi.</p>
      </div>
       <div class="col-lg-4 p-5">
        <img class="img-fluid" src="/images/Card.svg" width="140" height="140"></img>
        <h4 class="text-center">Medios de pago</h4>
        <p class="text-center text-light">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Soluta, animi.</p>
      </div>
     

      </div>
  

</section>

</div>

