body {
  margin: 0;
  padding: 0;
  font-family: "Righteous";
  background-image: url("/images/index.jpg");
  background-size: cover;
  color: #0169a6;
  box-sizing: border-box;
}

form {
  width: 550px;
}
.logo {
  height: 80px;
}

.card-travel {
  width: 300px;
}

.table-info {
  width: 600px;
  margin-left: 150px;
}

.bx {
  font-size: 60px;
}

.carousel {
  width: 60%;
  border: 3px solid #0169A6;
  border-radius: 10px;
}

a {
  text-decoration: none;
}

.img-form_product {
  height: 400px;
  width: 1000px;
}

.form-product {
  width: 400px;
}

.img_form_emp {
  height: 400px;
  width: 800px;
}

.form-emp {
  width: 400px;
}

.img_table_emp {
  height: 400px;
  width: 600px;
}

.table-dark {
  width: 500px;
  padding: 150px;
  margin: 100px;
}
