
body {
  margin: 0;
  padding: 0;
  font-family: 'Righteous';
  background-image: url("/images/index.jpg");
  background-size: cover;
  color: #0169A6;
  

}

form {
  width: 550px;
}
.logo{
  height: 80px;
}

.card-travel{
  width: 300px;

}

.table {
  width: 400px;
}

.logo-user {
  font-size: 40px;
}

.carousel{
  width:60%;
}

a {
  text-decoration: none;
}

