<div class="container-fluid">

  <div class="row flex-lg-row align-items-center py-5 m-5">
    <div class="col-lg-6 col-sm-12">
      <div class="card p-2">
        <img
          class="img-fluid p-3"
          src="/images/check-in.jpg"
          alt=""
        />

      </div>
    </div>
    <div class="col-lg-6 col-sm-10">
      <form method="POST" action="/signin"class="m-5">

        <h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>

        <div class="form-floating m-3">
          <input type="text" class="form-control" placeholder="username" name="username" />
          <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating m-3">
          <input
            type="password"
            class="form-control"
            name="pass"
            placeholder="Password"
          />
          <label for="floatingPassword">Password</label>
        </div>
        <div class="d-grid gap-2">
          <button class="btn btn-primary" type="submit">Sign in</button>
        </div>
        <p class="mt-5 mb-3 text-muted text-center">© 2021</p>
        <div class="alert text-center text-danger" role="alert">
            {{message}}
        </div>
      </form>
    </div>
  </div>

</div>