<div class="container-fluid text-center">

<h1>Tu compra se realizó exitosamente!</h1>
<h5 class="text-success">Estaremos en contacto cuando este procesada tu orden..</h5>
<img src="/images/t_card.svg" alt="" class="img-fluid">





</div>




