<div class="container-fluid text-center">

<h1>Felicitaciones! tu compra se realizó exitosamente.</h1>
<h5 class="text-success">Te enviamos un e-mail confirmando tu viaje, revisa tu correo!</h5>
<img src="/images/t_card.svg" alt="img-card" class="img-fluid">

</div>




