<div class="container-fluid">
     <h1 class="display-4 fw-normal">Welcome to your next travel!</h1>
    <div class="m-4">    

     <a class="btn btn-primary btn-lg" href="/travels/usa">USA</a>
     <a class="btn btn-success btn-lg" href="/travels/caribe">Caribe</a>
     <a class="btn btn-info btn-lg" href="/travels/euro">Europa</a>
     <a class="btn btn-warning btn-lg" href="/travels/sudamerica">Sudamerica</a>


     </div>
</div>